{% extends 'base.html.twig' %}

{% block title %}New Soumission{% endblock %}
{%block stylesheets%}
<style>
    .contact_form {
        padding-bottom: 10%;
    }
    .ajouter{
  
        margin-left: 80%;
    }
</style>
{%endblock%}
{% block body %}
     	<!-- Home -->

             <div class="home">
                <div class="breadcrumbs_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="courses.html">Cours</a></li>
                                        <li><a href="{{path('cours_show',{'id':soumission.activite.section.cours.id})}}">{{soumission.activite.section.cours.libelle}}</a></li>
                                        <li> <a href="{{path('activite_show', {'id': soumission.activite.id})}}">{{soumission.activite.Nom}}</a> </li>
                                        <li>Espace soumission</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div> 

    {{ include('soumission/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){
        tinymce.init({
            selector: '.tinymce'
          });
    
        $('#soumission_contenu').removeAttr('required');

       
        }); 
  
     
</script>
{% endblock %}
