{% extends 'base.html.twig' %}

{% block title %}Activite{% endblock %}
{%block stylesheets%}
<style>
 table{
     margin-top: 5%;
     width: 1000px !important;

 }
 .activite{
     margin-bottom: 3%;
 }
 .courses_button{
     margin-bottom: 10%;
 }
</style>
{%endblock%}
{% block body %}
       	<!-- Home -->

           <div class="home">
            <div class="breadcrumbs_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="courses.html">Cours</a></li>
                                    <li><a href="{{path('cours_show',{'id':activite.section.cours.id})}}">{{activite.section.cours.libelle}}</a></li>
                                    <li>{{activite.nom}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>			
        </div> 
    


    <div class="container">
        <div class="row">
          <div class="col-xs-12 ">
            <div class="table-responsive" data-pattern="priority-columns">
              <table class="table table-bordered table-hover">
               
             
                <tbody>
                   
                    <tr>
                        <th colspan="3">Nom</th>
                        <td colspan="3">{{ activite.Nom }}</td>
                    </tr>
                    <tr>
                        <th colspan="3">Type</th>
                        <td colspan="3">{{ activite.type }}</td>
                    </tr>
                    <tr>
                        <th colspan="3">DateCreation</th>
                        <td colspan="3">{{ activite.dateCreation ? activite.dateCreation|date('d-m-Y H:i:s') : '' }}</td>
                    </tr>
      
                    <tr>
                        <th colspan="3">FinSoumission</th>
                        <td colspan="3">{{ activite.finSoumission ? activite.finSoumission|date('d-m-Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th colspan="3">PeriodeGrace</th>
                        <td colspan="3">{{ activite.periodeGrace }} JOURS</td>
                    </tr>
                    <tr>
                        <th colspan="3">Document</th>
                        <td colspan="3"><a href="{{asset('uploads/qcm/' ~ activite.section.libelle ~ activite.document)}}">{{activite.Nom}}</td>
                    </tr>
                </tbody>
                
              </table>
            </div><!--end of .table-responsive-->
          </div>
          <div class="activite">
            {{activite.contenu|raw}}
           
          
         </div>
          {%if is_granted ("ROLE_TUTEUR")%}
          <div class="courses_button trans_200 col-md-4"><a  href="{{path('soumission_index',{'id':activite.id})}}">Espace de soumission</a></div>
          {%endif%}
           
          {%if is_granted ("ROLE_APPRENANT")%}
          {%if activite.phase==0%}
          <div class="courses_button trans_200 col-md-4"><a  href="{{path('soumission_new',{'id':activite.id})}}">Soumettre un travail</a></div>
          {%else%}
          <div style="color: red;margin-bottom: 3%;">L'activité est en phase d'évaluation vous pouvez pas faire un depot</div>
          {%endif%}
          {%endif%}

         
         
        </div>
      </div>
  
     
      </body>
      </html>
      

{% endblock %}
