

<div  class="col-md-10 contact_form ">

    {{ form_start(form, { 'attr': {'class': 'comment_form'}}) }}
    
       <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
        <div class="col-md-2">
            <image class="user_image " {%if(tuteur.image !=null)%} src="{{asset('uploads/profile/'~ tuteur.image)}}" {%else%} src="{{asset('images/user.png')}}" {%endif%}></image>
            {{ form_widget(form.image, {'attr': {'class': 'tuteur_input'}}) }}
        </div>

   
        <div class="col-md-10">
            <div class="form_title">
                {{ form_label(form.nom, 'Nom') }}
            </div>
            {{ form_widget(form.nom, {'attr': {'class': 'comment_input'}}) }}
        </div>
        </div>
        <div class="col-md-10">
            <div class="form_title">
                {{ form_label(form.prenom, 'Prenom') }}
            </div>
            {{ form_widget(form.prenom, {'attr': {'class': 'comment_input'}}) }}
        </div>
        <div class="col-md-10">
            <div class="form_title">
                {{ form_label(form.email, 'Email') }}
            </div>
            {{ form_widget(form.email, {'attr': {'class': 'comment_input'}}) }}
        </div>
        <div class="col-md-10">
            <div class="form_title">
                {{ form_label(form.grade,'Grade') }}
            </div>
            {{ form_widget(form.grade, {'attr': {'class': 'comment_input'}}) }}
        </div>
        <div class="col-md-10">
            <div class="form_title">
                {{ form_label(form.specialite,'Spécialité') }}
            </div>
            {{ form_widget(form.specialite, {'attr': {'class': 'comment_input'}}) }}
        </div>
        <div class="col-md-10">
            <div class="form_title">
                {{ form_label(form.tel,'Téléphone') }}
            </div>
            {{ form_widget(form.tel, {'attr': {'class': 'comment_input'}}) }}
        </div>
        <div class="col-md-10">
            <div class="form_title">
               Mot de passe
            </div>
            <input type="text" name="password" class="comment_input" >
        </div>
        
      
        <button class="comment_button trans_200 ajouter">{{ button_label|default('Save') }}</button>
        </div>
            </div>
            
   
{{ form_end(form) }}
 